In [6]:
import pandas as pd
import pickle
from sklearn.metrics import classification_report

In [2]:
all_y_train = pd.read_csv('../data/y_train.csv')
all_X_train = pd.read_csv('../data/X_train.csv').set_index('ID')
all_y_test = pd.read_csv('../data/y_test.csv')
all_X_test = pd.read_csv('../data/X_test.csv').set_index('ID')

In [11]:
all_y_test

,ID,NR.AhR,NR.AR,NR.AR.LBD,NR.Aromatase,NR.ER,NR.ER.LBD,NR.PPAR.gamma,SR.ARE,SR.ATAD5,SR.HSE,SR.MMP,SR.p53
0,NCGC00261900-01,0.0,1.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,0.0
1,NCGC00260869-01,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NCGC00261776-01,1.0,1.0,0.0,NaN,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
3,NCGC00261380-01,NaN,0.0,NaN,1.0,0.0,NaN,NaN,1.0,0.0,NaN,0.0,NaN
4,NCGC00261842-01,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
642,NCGC00357168-01,0.0,0.0,0.0,0.0,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0
643,NCGC00357283-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
644,NCGC00357210-01,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,NaN,0.0
645,NCGC00357118-01,0.0,0.0,0.0,NaN,NaN,0.0,NaN,1.0,0.0,NaN,NaN,1.0
646,NCGC00357144-01,0.0,0.0,0.0,0.0,0.0,NaN,0.0,1.0,NaN,0.0,0.0,1.0

SR.MMP SR.ARE

In [3]:
target = 'SR.MMP'

y_train = all_y_train[['ID',target]].set_index('ID').dropna()
X_train = y_train.join(all_X_train,how='inner')
X_train.drop(columns=target,inplace=True)

y_test = all_y_test[['ID',target]].set_index('ID').dropna()
X_test = y_test.join(all_X_test,how='inner')
X_test.drop(columns=target,inplace=True)

In [ ]:



print(classification_report(y_test, y_pred))

/home/ivan/.pyenv/versions/3.10.6/envs/toxikind/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

              precision    recall  f1-score   support

         0.0       0.94      0.96      0.95       483
         1.0       0.60      0.47      0.52        60

    accuracy                           0.91       543
   macro avg       0.77      0.71      0.74       543
weighted avg       0.90      0.91      0.90       543

In [7]:
all_y_train

,ID,NR.AhR,NR.AR,NR.AR.LBD,NR.Aromatase,NR.ER,NR.ER.LBD,NR.PPAR.gamma,SR.ARE,SR.ATAD5,SR.HSE,SR.MMP,SR.p53
0,NCGC00178831-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
1,NCGC00166114-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2,NCGC00263563-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
3,NCGC00013058-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
4,NCGC00167516-01,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12055,NCGC00261292-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12056,NCGC00261245-01,0.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
12057,NCGC00260828-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12058,NCGC00260687-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12059,NCGC00261465-01,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
def predict(compound='Please type in a compound!'):
    # Check if compound in test data
    if compound == 'Please type in a compound!':
        return compound
    #Featurization of compound
    X_test = pd.read_csv('../data/X_test.csv',index_col='ID')
    X_predict = X_test[X_test.index==compound]

    if X_predict.shape[0] == 0:
        return 'Compound not found in Dataset'

    model_list = ['fitted_xgb_are','fitted_xgb_mmp']
    target_list = ['ARE', 'MMP']
    predictions = []
    predictions_probabilities = []

    for i in model_list:

        with open(f'../production_model/{i}.pkl','rb') as f:
            trained_model= pickle.load(f)

        prediction = trained_model.predict(X_predict)[0]
        prediction_probability = f'{round(trained_model.predict_proba(X_predict)[:,-1][0]*100,2)}%'

        predictions.append(prediction)
        predictions_probabilities.append(prediction_probability)

    results_df = pd.DataFrame({
    "target": target_list,
    "prediction": predictions,
    "probability": predictions_probabilities})

    results_df['result'] = results_df['prediction'].apply(lambda x: 'Substance is Toxic' if x == 1 else 'Substance is not Toxic')
    results_df.drop(columns='prediction', inplace=True)
    return results_df

In [ ]:
compound = 'NCGC00357144-01'
df = predict('NCGC00357144-01')

In [39]:
df

  target probability                  result
0    ARE      43.36%  Substance is not Toxic
1    MMP       0.09%  Substance is not Toxic